.contactsBlock {
    background-color: #f48fb1;
    height: 100vh;
}
.contactsContainer {
    border: 1px solid;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.contacts {
    border: 1px solid;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
}

.contactForm {
    border: 1px solid;
    width: 60%;
    margin: 100px auto;
}
.inputForm {
    margin-bottom: 10px;
}
.buttonForm {
    width: 200px;
    padding: 10px;
    background-color: gold;
    border: 1px solid gold;
    border-radius: 10px;
}