.contactsBlock {
    background-color: #f48fb1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactsContainer {
    border: 1px solid;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    background-color: #ffdf4a;
}

.contacts {
    border: 1px solid;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    width: 260px;
    border: 1px solid;
    margin: 50px auto;
}

.inputForm {
    margin-bottom: 10px;
}

.buttonForm {
    width: 100px;
    padding: 10px;
    background-color: gold;
    border: 1px solid gold;
    border-radius: 10px;
}