@import "../../common/styles/sass/variables";

.burgerNav {
  display: flex;
  width: 500px;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-right: 50px ;

  & a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;

    &:hover {
      color: $colorPrimary;
      cursor: pointer;
    }
  }
    .active {
      color: $colorPrimary;
  }
  //@media screen and (max-width: 400px){
  //  display: none;
  //}
}