@import "../../common/styles/sass/variables";

.nav {
  display: flex;
  width: 500px;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 0 30px ;

  & a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;

    &:hover {
      color: $colorPrimary;
      cursor: pointer;
    }
    &:after {
      display: block;
      content: "";
      border-bottom: 3px solid $colorPrimary;
      transform: scaleX(0);
      transition: transform .25s ease-in-out
    }
    &:hover:after {
      transform: scaleX(1);
    }
  }
    .active {
      color: $colorPrimary;
  }
  @media screen and (max-width: 440px){
    display: none;
  }
}