.workBlock {
    background-color: white;
}

.workContainer {
    flex-direction: column;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.title {
    font-size: 20px;
    text-align: center;
}

.button {
    width: 100px;
    padding: 10px;
    background: linear-gradient(135deg,#13F1FC,#0470DC);
    border: 1px solid  #20c997;
    border-radius: 10px;
}

.button:hover {
    cursor: pointer;
    background: linear-gradient(135deg,#6253E1,#04BEFE);
}