.workBlock {
    background-color: bisque;
}

.workContainer {
    flex-direction: column;
    border: 1px solid;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.title {
    background-color: #58e7ff;
    font-size: 20px;
    text-align: center;
}

.button {
    width: 100px;
    padding: 10px;
    background-color: sandybrown;
    border: 1px solid sandybrown;
    border-radius: 10px;
}