@import "../../common/styles/sass/mixins";

.skill {
  width: 200px;
  @include flexBlock(flex,column,center);
  text-align: center;
  box-sizing: border-box;

  .iconImage {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1);
    transition: transform 0.5s;
    @media screen and (max-width: 440px) {
      width: 80px;
      height: 80px;
    }

    &:hover {
      transform: scale(1.2);
      box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
      transition: box-shadow 0.5s, transform 0.5s;
      cursor: pointer;
    }
  }
  .header {
    margin-top: 20px;
  }

  .description {
    margin-bottom: 10px;
  }

  @media screen and (max-width: 994px) {
    margin: 10px;
  }
}


