.skill {
    width: 250px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: gold;
    margin-top: 40px;
}

.description {
    width: 200px;
    margin-bottom: 10px;
}

/*MEDIA*/
@media screen and (max-width:641px) {
    .skill {
        margin-bottom: 10px;
    }
}

@media screen and (max-width:953px) {
    .skill {
        margin-bottom: 10px;
    }
}


