.skill {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.iconImage {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1);
    transition:  transform 0.5s;
}

.iconImage:hover {
    transform: scale(1.2);
    box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
    transition: box-shadow 0.5s, transform 0.5s;
    cursor: pointer;
}

.description {
    margin-bottom: 10px;
}

/*MEDIA*/
@media screen and (max-width: 994px) {
    .skill {
        margin: 10px;
    }
}

/*@media screen and (max-width:953px) {*/
/*    .skill {*/
/*        margin-bottom: 10px;*/
/*    }*/
/*}*/


