@import "../../common/styles/sass/variables";

.burgerNav {
  width: 100%;
  height: 100%;
  background-color: black;

  .burgerNavItems {
    width: 100%;
    background-color: black;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    display: none;

    & a {
      color: white;
      text-decoration: none;
      font-size: 18px;
      font-family: "Poppins", sans-serif;
      text-transform: uppercase;
      cursor: pointer;
      text-align: center;
      padding: 5px;

      &:hover {
        color: $colorPrimary;
      }
    }
  }

  .show {
    display: flex;
    line-height: 2;
    font-size: 15px;
    width: 100%;
    background-color: black;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin-top: 50px;
  }

  .active {
    color: $colorPrimary;
  }

  @media screen and (min-width: 440px) {
    display: none;
  }

  .btnMenu {
    width: 30px;
    height: 30px;
    position: relative;
    top: 34%;
    left: 10%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;

    span {
      width: 30px;
      height: 2px;
      position: absolute;
      background-color: white;
    }

    span:nth-of-type(2) {
      top: calc(50% - 5px);
    }

    span:nth-of-type(3) {
      top: calc(50% + 5px);
    }
  }
}