.worksBlock {
    background-color: #ff88f7;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.worksContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    font-size: 25px;
    background-color: #ff9b33;
}

.works {
    border: 1px solid;
    width: 100%;
    height: 300px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}