@import "../common/styles/sass/mixins";
@import "../common/styles/sass/variables";

.worksBlock {
  background-color: $bgColorWhite;
  min-height: 100vh;
  @include displayJustifyAlign(flex, center, center);

  .worksContainer {
    justify-content: center;

    .works {
      width: 100%;
      margin: 50px 0 50px;
      @include flexWrap(flex, wrap, space-between);
      @media screen and (max-width: 1168px) {
        justify-content: center;
      }
    }
  }
}
