.worksBlock {
    background-color: #ff88f7;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.worksContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    font-size: 25px;
    background-color: #ff9b33;
}

.works {
    border: 1px solid;
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*MEDIA*/
@media screen and (max-width:766px) {
    .works {
        justify-content: center;
    }
}