.skillsBlock {
    background-color: lightgreen;
    height: 100vh;
}

.title {
    font-size: 25px;
}

.skillsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.skills {
    border: 1px solid;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}