.skillsBlock {
    background-color: lightgreen;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 25px;
    background-color: #ffdf4a;
}

.skillsContainer {
    justify-content: flex-start;
    flex-direction: column;

}

.skills {
    border: 1px solid;
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*MEDIA*/
@media screen and (max-width:641px) {
    .skills {
        justify-content: center;
    }
}