.main {
    background-color: coral;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    background-color: white;
    width: 350px;
    padding: 20px;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: aqua;
}
