@mixin text($fontSize,$fontFamily,$lineHeight) {
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.2;
}

@mixin textSpanHeaderP($fontSize,$lineHeight) {
  font-size: 1.3rem;
  line-height: 4;
}

@mixin displayJustifyAlign($display,$justifyContent,$alignItems) {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexBlock($display,$flexDirection,$alignItems) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flexWrap($display,$flexWrap,$justifyContent) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin bgSettings() {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

